.main-content {
  display: flex;
  flex-direction: row;
  /* gap: 2em; */
}

.home-main-container {
  padding: 1em;
  flex: 1;
  /* outline: 1px solid red; */
}

.dashboard-grid {
  /* outline: 1px solid red; */
  width: 100%;
}

.services-grid {
  /* outline: 1px solid red; */
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
